@import "variables";

.tickets-header {
  background-color: $grey-alpha;
  text-align: center;
  padding: 40px 20px;
  font-size: 14px;

  .tickets-title {
    margin-bottom: 20px;
  }

  .tickets-info {
    border: 1px solid $grey;
    width: 160px;
    border-radius: 20px;
    margin: 0 auto;

    span {
      color: $orange;
    }
  }
}

.tickets-prices {
  padding: 40px 20px;

	.table-border {
		 margin: 0 auto 40px auto;
		 padding: 5px;
		 max-width: 500px;
		 background-image: repeating-linear-gradient(-45deg, $white, $white 5px, $orange 5px, $orange 10px, $white 10px, $white 15px, $blue 15px, $blue 20px);
		 box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

		.table {
			background-color: $white;
  	  max-width: 500px;
  	  font-size: 12px;

			.table-price {
				color: $orange;
				font-weight: bold;
				font-size: 14px;
			}
		}
	}

  .map {
    margin: 0 auto 40px auto;
    max-width: 500px;
  }

  .checkout {
    color: white;
    background-color: #ec5242;
    padding: 16px;
    font-size: 14px;
  }
}
